/*V A R I A B L E S*/

:root {
    --nav-color: #2B505F;
    --text-color: white;
    --hero-color: #11242B;
    --main-title: 48px;
    --spacing: 30px;
    --padding: 10px;
    --border: 1px solid #556A88;
}


/* R O O T   F O R   R E M ' S*/

html {
    font-size: 16px;
}

/* P R I N C I P A L */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    height: 100%;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

p, a, strong, button {
    color: var(--text-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
    display: inherit;
    flex: 1;
    margin: 0 auto;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: wrap;
}

.section_space {
    margin: var(--spacing);
}

.section_title {
    color: var(--text-color);
    padding: var(--padding);
    position: relative;
    margin-bottom: var(--spacing);
}

.section_title::before {
    background: var(--hero-color);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: skew(-15deg);
    z-index: -1;
}

/* N A V */

header {
    background: var(--nav-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand_image {
    width: 3.5rem;
}

.brand_image img {
    width: 100%;
}

.nav_container {
    display: flex;
    font-size: 16px;
    padding-right: var(--padding);
}

.nav_container li {
    padding: var(--padding);
}

.nav_container li:last-child {
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}

/* H E R O */

.hero {
    background: url("../images/hero-image.jpg") no-repeat center; 
    background-size: cover;
    font-size: 48px;
    height: 100%;
    width: 100%;
    position: relative;
}

.hero_text {
    background: var(--hero-color);
    color: var(--text-color);
    font-size: 1em;
    text-align: center;
    padding: var(--padding);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* E X P E R I E N C E */

.job {
    border: 3px solid gray;
    border-radius: 5px;
    margin-bottom: 1.25rem;
    color: var(--text-color);
}

.job .task-list a {
    color: black;
}

.job_details {
    padding: var(--padding);
    line-height: 1.6rem;
}


/* S K I L L S */

.skills-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.skills-container {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex: 0 0 4%;
    margin: 0.625rem;
    text-align: center;
    transition: 0.3s;
}

.skills-container figure {
    width: 11rem;
}

.skills-container figure img {
    text-align: center;
    max-width: 100%;
}

.skills-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content {
    padding: 0.125rem 1rem;
}

/* F O O T E R */

footer {
    background: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.social-media {
    margin: auto;
}

.social_link {
    display: inline-block;
    width: 4rem;
}

.social_link img {
    width: 100%;
}

.form_email {
    text-align: center;
    margin: auto;
}

.form_email h3 {
    font-size: var(--terciary-title);
}

.form_email input {
    display: block;
    border: 1px solid gray;
    border-radius: 0.3125rem;
    margin: 0.5rem auto;
    padding: var(--padding);
}

.form_email button {
    background: transparent;
    border-radius: 0.3125rem;
    font-size: var(--text-size);
    padding: 0.3125rem 1.875rem;
    margin-bottom: var(--spacing);
}

/*Desktop First*/

@media screen and (max-width: 1024px) {

    .hero {
        font-size: 32px;
    }

}

@media screen and (max-width: 768px) {

    .hero {
        font-size: 24px;
    }
}


@media screen and (max-width: 480px) {

    .hero {
        font-size: 16px;
        height: 60%;
    }

    .brand_image {
        margin: 0 auto;
    }

    nav {
        margin: auto;
    }

    .nav_container li:last-child {
        border: none;
    }
    
}

@media screen and (max-width: 320px) {

    .hero {
        font-size: 12px;
    }

    .nav_container {
        font-size: 12px;
    }
    
}